@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

.headerBackground {
    height: 40vh;
    background-image: url(images/background.jpg);
    background-size: 100% auto;
    background-position: 25% 58%;
    border-radius: 0 0 12px 12px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainLink {
    font-family: 'Forum', cursive;
    border-radius: 12px;
    height: 50px;
    width: 240px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: -25px;
    color: #77230f;
    cursor: pointer;
    background: #dead98;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    font-weight: bold;
}

body {
    background: #ffebe3;
}

.mainLink:hover {
    border: 1px solid #77230f;
    transition: all .3s ease-in;
}

.buttonIcon {
    width: 20px;
    height: 20px;
    margin-left: 12px;
}

.logo {
    width: 250px;
}

.telegram {
    background: #0088cc;
    border-radius: 50%;
}

.telegram img {
    width: 25px;
    height: 25px;
}

.zen img {
    width: 25px;
    height: 25px;
}

.zen {
    background: #2c3035;
    border-radius: 50%;
}

.social {
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.controls {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
}

.socialItem {
    width: 50px;
    height: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.arrowIcon {
    margin-left: 12px;
    margin-top: 2px;
}

h1 {
    font-family: 'Forum', cursive;
    color: #77230f;
    justify-content: center;
    display: flex;
}

.aboutMe {
    margin-top: 32px;
    margin-bottom: 32px;
}

.aboutImage img {
    width: 30%;
}

.aboutText {
    padding-left: 5px;
    padding-right: 5px;
}

.aboutText {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    margin-top: 30px;
    line-height: 1.7;
    font-family: 'Forum', cursive;
    font-weight: bold;
    text-indent: 30px;
    color: #77230f;
}

@media screen and (min-width: 451px) {
    .aboutSection {
        display: inline-flex;
    }

    .aboutImage img {
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .aboutImage img {
        width: 100%;
    }
}

footer {
    height: 100px;
    background: #dead98;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div {
    font-family: 'Forum', cursive;
    cursor: pointer;
    font-weight: bold;
    color: #77230f;
}
